body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
input[type=submit] {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 16px;
  background-color: rgb(0, 103, 171);
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 6px !important;
  cursor: pointer;
}
.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert ul {
padding: 0px 20px;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}